.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 3.38em;
  height: 1em;
  fill: initial;
}
.icon-select-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-visually-button {
  width: 6.75em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-you {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
